[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rasa = "*"
rasa_core = "*"
sklearn_crfsuite = "*"
spacy = "*" 
Flask = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
