[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rasa_core = "*"
rasa_nlu = "<=0.11.4"
sklearn_crfsuite = "*"
spacy = "*" 
Flask = "*"
gunicorn = "*"
chatbot = {path = "."}
rq = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.6"
